.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 12px 24px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 12px;
}

.list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a9a8a8;
    list-style: none;
    font-size: 16px;
    padding: 4px 12px;
    width: 100%;
}

.icons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    object-fit: cover;
}
.icon:hover {
    scale: 1.1;
    transition: scale 0.5s ease;
}